
<div style="width:100%;height:550px" >


<table align="left" style="margin:14px">
   	<tr>
   		<th>Publisher Dashboard</th>
   	</tr>
</table>
<br/>
<br/>

<table align="left">
	<tr>
	<td>
		<div class="pub_homeBox">
			<a href="/magazine/showAdd">
			<img src="/static/images/add-128.png"/><br/>
			Add Magazine
			</a>
		</div>
	</td>
	<td>
		<div class="pub_homeBox">
			<a href="/magazine/list">
			<img src="/static/images/file-manager.png"/><br/>
			Manage Magazines
			</a>
		</div>
	</td>
	</tr>
	<tr>
		<td>
			<div class="pub_homeBox">
				<a>
				<img src="/static/images/task_manager.png"/><br/>
				Sales report
				</a>
			</div>
		</td>
		<td>
			<div class="pub_homeBox">
				<a>
				<img src="/static/images/payment.png"/><br/>
				Payment Details
				</a>
			</div>
		</td>
	</tr>
</table>
<br/>

</div>