
<div style="width:100%;height:550px" >
<br/>

<table align="left" style="margin:14px">
   	<tr>
   		<th>Publisher Dashboard</th>
   	</tr>
</table>
<br/>
<br/>

<table align="left">
	<tr>
	<td>
		<div class="pub_homeBox">
			<a href="/magazine/showAdd">Add Magazine</a>
		</div>
	</td>
	<td>
		<div class="pub_homeBox">
			<a href="/magazine/list">Manage Magazines</a>
		</div>
	</td>
	</tr>
	<tr>
		<td>
			<div class="pub_homeBox">
				<a>Sales report</a>
			</div>
		</td>
		<td>
			<div class="pub_homeBox">
				<a>Payment Details</a>
			</div>
		</td>
	</tr>
</table>
<br/>

</div>