Checkout items
<fieldset>
	#parse("common/message.vm")

<table width="100%" >

#foreach($item in ${items})
  <tr style="margin:15px; #if( $velocityCount % 2 == 1 )background:lightgrey#end">
      <td>$velocityCount</td>
      <td width="50%">$item.issueName</td>
      <td>$item.subscriptionType</td>
       <td>${item.price}</td>
     </tr>
 #end
 <tr>
	<td colspan="4">
		<hr/>
	</td>
 </tr>
  <tr>
	<td colspan="4">
		<input type="submit"  value="Checkout with Paypal"/>		
	</td>
 </tr>
 
 </table>
 
 
</fieldset>


