<div style="width:100%;height:550px" >
<table align="left" style="margin:2px">
   	<tr>
   		<th>Admin Dashboard</th>
   	</tr>
</table>
<br/>
<br/>

<table align="left">
	<tr>
	<td>
	#parse("admin/magazines.vm")
		</td>
	</tr>
</table>
<br/>

</div>