<div id="header">
	    
		<div style="padding-top:1px;">
		
		  <table width="100%">
		    <tr >
		       <td width="70%">
				<div class="topTxt">
					<font style="color:#F16A92">Super<font style="color:#87C7FB">Mag</font></font>
				</div>
		        </td>

		         <td  width="30%">
			   #if($!user && $!user.userId)
					Welcome <b>$!user.firstName </b>  | <a href="/user/logout/${user.userType}"> Logout</a> 
			  #else
					    <a href="/user/login/publisher"> Publisher Login </a> | <a href="/user/login/subscriber"> User Login</a> |  <a href="/user/register/subscriber"> Register</a> 
			 #end
			  </td>
		   </tr>
		    
		    </table>
         </div>
</div>

#if(${user.userType} == 'publisher')
  #parse("layout/menu/publisher-menu.vm")
#elseif(${user.userType} == 'subscriber')
  #parse("layout/menu/subscriber-menu.vm")  
#elseif(${user.userType} == 'admin')
  #parse("layout/menu/admin-menu.vm")
#else 
  #parse("layout/menu/default-menu.vm")
#end