<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#if($!title)$!title#else$!defaultTitle#end
</title>
#parse("layout/common.vm")

</head>

<body id="gateway">
#parse("layout/header.vm")

## CONTENT SECTION HERE
<div class="content">
	<br/>
	<font color="red"><b>$!error </b> </font><font color="green"><b>$!message </b> </font>

	$!screen_content
</div>
## /CONTENT SECTION

<div id="footer" style="font-size:10px;width:80%">
	<br/>
		Powered by Bri8	
		<br/>
</div>


</body>
</html>



