
<div  style="width:100%;height:550px" >

	<div class="wizard-steps">
		<div class="active-step step">
			<div class="a-before"></div>
			<a href="#step-one"> <span>1</span> Title information
			</a>
			<div class="a-after"></div>
		</div>
		<div class="step">
			<div class="a-before"></div>
			<a href="#step-two"> <span>2</span> Issue Information
			</a>
			<div class="a-after"></div>
		</div>
		<div class="step">
			<div class="a-before"></div>
			<a href="#"> <span>3</span> Upload Files
			</a>
			<div class="a-after"></div>
		</div>
		<div class="step">
			<div class="a-before"></div>
			<a href="#"> <span>4</span> Publish
			</a>
			<div class="a-after"></div>
		</div>
	</div>

	<br/>
#parse("common/message.vm")

<form method="post" action="/magazine/create">
<input type="hidden" name="magazineId" value="$!{magazine.magazineId}"/>
<input type="hidden" name="issueId" value="$!{issue.issueId}"/>
<table align="left" style="margin:14px">
   	<tr>
   		<th>Magazine Title  </th> <td><input type="text" name="magazineName" size="20" value="$!{magazine.magazineName}" tabindex="1"/></td>
   	</tr>
	<tr>
   		<th>Description</th> <td><textarea style="width:400px;height:100px" name="description" class="text-box" tabindex="2">$!{magazine.description}</textarea></td>
   	</tr>
	<tr>
   		<th>Keywords</th> <td><input type="text" name="keywords" size="50" value="$!{magazine.keywords}" tabindex="3"/></td>
   	</tr>
	<tr>
		<th>Category 1</th>
		<td>
			<select name="category" id="category1" tabindex="4" style="width: 192px;">
					#parse("common/categories.vm")                                    
                        </select>
			  </td>
	 </tr>
	 <tr>
		<th>Category 2</th>
		<td>
			<select name="category2" id="category2" style="width: 192px;">
					#parse("common/categories.vm")                                    
                            </select>
			  </td>
	 </tr>
   	 <tr>
   		<th>Language</th> 
		<td>
		<select name="language"  style="width: 192px;">
			#parse("common/languages.vm")
		</td>
   	</tr>
   	<tr>
   		<th>Frequency</th> 
		<td>
		<select name="frequency"  style="width: 192px;">
			#parse("common/frequency.vm")
		</td>
   	</tr>
   	<tr>
   		<th>Currency </th> 
   		<td><select name="currency" tabindex="3">
   				<option value="Rs" #if($!{magazine.currency} eq 'USD')selected #end> INR - Rs.</option>
   				<option value="USD" #if($!{magazine.currency} eq 'USD')selected #end> USD - $.</option>
   		</select> 
   		
   		</td>
   	</tr>
   	 <tr>
		<th>Price per single issue</th> <td><input type="text" name="pricePerIssue" size="10" value="$!{magazine.pricePerIssue}"/></td>
   	 </tr>
   	<tr><td>&nbsp;</td>
   	</tr>
   	<tr>
   	<th valign="top">Subscriptions </th>
   	<td colspan="2"><fieldset>
   		<table>
   			<tr>
   				<th> Subscription type</th> <th>No. of issues</th><th>Price</th>
   			</tr>
   			<tr>
   				<td>3 months</td>
   				<td><input type="text" name="issues3months" size="10" value="$!{magazine.issues3months}"/></td>
   				<td><input type="text" name="issuePrice3months" size="10" value="$!{magazine.issuePrice3months}"/></td>
   			</tr>
   			<tr>
   				<td>6 months</td>
   				<td><input type="text" name="issues6months" size="10" value="$!{magazine.issues6months}"/></td>
   				<td><input type="text" name="issuePrice6months" size="10" value="$!{magazine.issuePrice6months}"/></td>
   			</tr>
   			<tr>
   				<td>12 months</td>
   				<td><input type="text" name="issues12months" size="10" value="$!{magazine.issues12months}"/></td>
   				<td><input type="text" name="issuePrice12months" size="10" value="$!{magazine.issuePrice12months}"/></td>
   			</tr>
   			
   		</table>
   		</fieldset>
   		</td>
   	 </tr>
   	<tr>
   	  <td>&nbsp;</td>
      <td>
      	<table>
      		<tr>
      			<td><input name="action" type="submit" value="Save"/></td>
      			#if($!{magazine.magazineId})
      			<td><input name="action" type="submit" value="Next"/></td>
      			#end
      			<td>	<a href="/user/dashboard">Cancel</a></td>
      		</tr>
      	</table>
	    </td>
   </tr>
</table>
</form>  
<br/>
<br/>


</div>