##  
## Velocity variables: 
##  debugJquery - Set this to false before deploying to stage/production
##  useJquery - The screens which use jquery should set this to true. 
##  module - The javascript corresponding to the module is added based on convention.
##  modulePath - The relative directory path for module.  
##

#set ($springXhtmlCompliant = true)
#set($debugJquery = "false")
#set($title = "SuperMag")

<link href="/static/css/style.css" rel="stylesheet" type="text/css" />



