<div id="header">
	    <div class="topTxt">
	    	<font style="color:#F16A92">Super<font style="color:#87C7FB">Mag</font></font>
	    </div>
		<div style="float:right;padding-top:10px;">
		  #if($!user)Welcome <b>$!user.firstName </b>  | <a href="/user/logout"> Logout</a> #else <a href="/user/login"> Login</a> |  <a href="/user/register"> Register</a>#end
            
         </div>
</div>

<div id="body" style="float:left;margin-left:10%">
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/service/main">Services</a></li>
			<li class="noImg"><a href="/contact">Contact Us</a></li>
		</ul>	
</div>
