<div id="header">
	<!-- <a href="index.php"><img src="images/logo.gif" alt="Tucantis" width="307" height="39" border="0" class="logo" title="SuperMag" /></a>-->
	
	  <div class="topTxt"><font style="color:#F16A92">Super<font style="color:#87C7FB">Mag</font></font></div>
		<div style="float:right;padding-top:10px;">
            <a href="/login"> Login</a> |  <a href="/user/register"> Register</a>
         </div>
</div>
<div id="body">
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="it_systems.php">Services</a></li>
			<li><a href="portfolio.php">Portfolio</a></li>
			<li class="noImg"><a href="contact.php">Contact Us</a></li>
		</ul>	
</div>