#if(${user.userType} == 'publisher')
  #parse("user/dashboard/publisher-dashboard.vm")
#elseif(${user.userType} == 'subscriber')
  #parse("user/dashboard/subscriber-dashboard.vm")
#elseif(${user.userType} == 'admin')
  #parse("user/dashboard/admin-dashboard.vm")
#end
