<div style="width:100%;float:left" >
#parse("common/message.vm")
<br/>

<form method="post" action="/user/doLogin">
<br/>
   <table align="center">
   	<tr>
   		<th>Email</th>
   		<td> <input type="text" name="email" value="publisher@test.com" size="30" /> 
		        <input type="hidden" name="userType" value="publisher" />
   		</td>
   		
   	</tr>
   	<tr>
   		<th>Password</th>
   		<td> <input type="password" name="password" value="publisher" size="20"/> </td>
   	</tr>
   	<tr>
   	  <th>&nbsp;</th>
           <td width="200">
	     	<input name="submit" type="submit" value="Login"/>&nbsp; <a href="/user/register/publisher"> Register as publisher</a>
	    </td>
	    
   </tr>
  
	      
	  </table>
</form>  

</div>
<br/>

</div>