
<div style="width:100%;height:550px" >
<br/>

<table align="left" style="margin:14px">
   	<tr>
   		<th>Magazine Name</th> <td><input type="text" name="magazineName" size="20"/></td>
   	</tr>
   	<tr>
      <td>
	     	<input name="addMagazine" type="submit" value="Add Magazine"/>
	     	<a href="/"> Cancel</a>
	    </td>
   </tr>
</table>
<br/>
<br/>


</div>