 		<option value=""  >-- Select -- </option>
         <option value="1"  >Assamese</option>
         <option value="24"  >Arabic</option>
         <option value="2"  >Bengali</option>
         <option value="25"  >Chinese</option>
         <option value="4"  >Dogri</option>
         <option value="26"  >Dutch</option>
         <option value="23"  selected='selected'>English</option>
         <option value="27"  >French</option>
         <option value="28"  >German</option>
         <option value="5"  >Gujarati</option>
         <option value="6"  >Hindi</option>
         <option value="29"  >Italian</option>
         <option value="32"  >Japanese</option>
         <option value="7"  >Kannada</option>
         <option value="8"  >Kashmiri</option>
         <option value="9"  >Konkani</option>
         <option value="30"  >Korean</option>
         <option value="31"  >Latin</option>
         <option value="10"  >Maithili</option>
         <option value="11"  >Malayalam</option>
         <option value="12"  >Manipuri</option>
         <option value="13"  >Marathi</option>
         <option value="14"  >Nepali</option>
         <option value="15"  >Oriya</option>
         <option value="33"  >Portuguese</option>
         <option value="16"  >Punjabi</option>
         <option value="17"  >Sanskrit</option>
         <option value="19"  >Sindhi</option>
         <option value="34"  >Spanish</option>
         <option value="20"  >Tamil</option>
         <option value="21"  >Telugu</option>
         <option value="22"  >Urdu</option>
