<br/>
#if($!error)
	<div class="error" style="margin-left:10%;"> 
		<font color="red">$!error </font>
	</div>
#end
#if($!message)
	<div class="message" style="margin-left:10%;"> 
		<font color="green">$!message  </font>
	</div>
#end
