#parse("common/message.vm")
##${result}
Search returned <b>${result.numberReturned}</b> record(s) out of <b>${result.numberFound}</b> 
<br/>
<table>
#foreach($doc in ${result})
	<tr>
		<td>
			 <a href="#" onclick="javascript:openPreview(${doc.getOnlyField("issueId").text})">
				<img src="/magazine/getBlob?fileName=${doc.getOnlyField("issueFileNameThumbnail").text}" height="130px" width="100px" style="border:5px solid #d5d5d5;border-radius: 20px;"></img>
			</a>
		</td>
		<td><b>${doc.getOnlyField("magazineName").text}</b></td>
		<td>${doc.getOnlyField("issueName").text}</td>
		<td>${doc.getOnlyField("issueDescription").text}</td>
		<td>(published on ${doc.getOnlyField("publishDate").date} )</td>
		
			
	
	</tr>
	
#end

</table>
