<style>
.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}

</style>

	<div class="wizard-steps">
	<div class="completed-step step">
		<div class="a-before"></div>
		<a href="/magazine/showAdd?magazineId=$!{issue.magazineId}"> <span>1</span> Title information
		</a>
		<div class="a-after"></div>
	</div>
	<div class="completed-step step">
		<div class="a-before"></div>
		<a href="/magazine/showAddIssue/$!{issue.magazineId}?issueId=$!{issue.issueId}"> <span>2</span> Issue Information
		</a>
		<div class="a-after"></div>
	</div>
	<div class="active-step step">
		<div class="a-before"></div>
		<a href="#"> <span>3</span> Upload Files
		</a>
		<div class="a-after"></div>
	</div>
	<div class="step">
		<div class="a-before"></div>
		<a href="#"> <span>4</span> Publish
		</a>
		<div class="a-after"></div>
	</div>
</div>


<div style="width:100%;height:550px" >

<br/>
#parse("common/message.vm")

<table width="100%" style="margin-left:15%">
<!-- upload issue table -->
  <tr>
    <td>
		
		<table align="left" style="margin:14px">
		   	<tr>
		   		<td>Upload magazine issue images (select multiple. Max size supported: 32MB)</td> 
		      <td>
		      <form id="uploadForm" method="post" action="/upload" enctype="multipart/form-data">
					<input type="hidden" name="magazineId" value="${issue.magazineId}" size="20"/>
					<input type="hidden" name="issueId" value="${issue.issueId}" size="20"/>
					      
		    	   <input type="file" name="fileToUpload" id="fileToUpload" multiple="multiple" size="5"/>
		    	   <input type="submit" name="upload" value="Upload" />
		    	   <a href="/"> Cancel</a>
		     </form>
			     	
			    </td>
		   </tr>
		</table>
   </td>
  </tr>
<!-- end upload issue table -->
 
<tr> <td>&nbsp;</td></tr>

<!-- display uploaded images -->

<tr> <td>
<form method="post" action="/magazine/saveUploadIssue">
				<input type="hidden" name="magazineId" value="${issue.magazineId}"/>
				<input type="hidden" name="issueId" value="${issue.issueId}"/>
			<div  style="overflow:scroll;overflow-y:hidden; height:225px;width:700px;border:1px solid lightgrey;padding:5px">
			<table>
			   
			   <tr>
			#foreach($issuePage in $issuePages)
				#if($velocityCount==0)
					<td>
				        <table>
				           <tr><td>&nbsp;</td></tr>
				           <tr>
				           		<td height="200">&nbsp;</td>
						   		<td>Page No.</td>
						   </tr>
						 </table>
				     </td>
			     #end
			     <td  style="padding-left:15px">
			       <table>
			         <tr>
			   	       <td width="200" align="center" colspan="2">
			   	           <a class="preview" href="#" onclick="showImagePreviewDiv('/magazine/getBlob?fileName=${issuePage.fileName}')">
			   	           <img src="/magazine/getBlob?fileName=${issuePage.fileNameThumbnail}" width="100" height="150"/>
			   	           </a>
			   	       </td> 
			   	     </tr>
			   	     <tr>  
			           <td width="30" align="center"> <input type="text" name="pageNumber_${issuePage.issuePageId}" value="${issuePage.pageNumber}" size="20" style="width:20px"/> </td>
			           <td style=""> 
			              <a href="#" onclick="deleteIssuePage(${issuePage.issuePageId})">
			                <img src="/static/images/trash.png" height="20px" width="20px"/>
			              </a> 
			           </td>
			        </tr>
			       </table>
			     </td>
			#end
				</tr>
			</table>
<!-- end display uploaded images -->			

   </td>
  </tr>
  
  <tr><td>
      <table>
      		   <tr>
			   		<td>
			   		  Cover page number :<input type="text" name="coverPageNumber" value="$!{issue.coverPageNumber}" style="width:20px"/><br/>
			   		  Preview page numbers :<input type="text" name="previewPages" value="$!{issue.previewPages}" style="width:80px"/><br/><br/>

			   		</td>
			   </tr>
			   <tr>
			   <td>
			   <table>
		      		<tr>
		      			<td><input type="button" name="preview" value="Preview" onclick="javascript:openPreview(${issueId})"/></td>
		      			<td><input name="action" type="submit" value="Save"/></td>
		      			<td><input name="action" type="submit" value="Next"/></td>
		      			<td>	<a href="/user/dashboard">Cancel</a></td>
		      		</tr>
		      	</table>
			   </td>
			   </tr>
      </table>
      </form>
   </td></tr>
   
</table>


