<div style="width:100%;height:550px" >
<div class="wizard-steps">
	<div class="completed-step step">
		<div class="a-before"></div>
		<a href="/magazine/showAdd?magazineId=${magazineId}"> <span>1</span> Title information
		</a>
		<div class="a-after"></div>
	</div>
	<div class="active-step step">
		<div class="a-before"></div>
		<a href="#step-two"> <span>2</span> Issue Information
		</a>
		<div class="a-after"></div>
	</div>
	<div class="step">
		<div class="a-before"></div>
		<a href="#"> <span>3</span> Upload Files
		</a>
		<div class="a-after"></div>
	</div>
	<div class="step">
		<div class="a-before"></div>
		<a href="#"> <span>4</span> Publish
		</a>
		<div class="a-after"></div>
	</div>
</div>
		
<br/>
<form method="post" action="/magazine/createIssue">
<input type="hidden" name="magazineId" value="$!{magazineId}"/>
<input type="hidden" name="issueId" value="$!{issue.issueId}"/>
<table align="left" style="margin:14px">
   	<tr>
   		<th>Issue title</th> <td><input type="text" name="issueName" size="20" value="$!{issue.issueName}" tabindex="1"/></td>
   	</tr>
   	 <tr>
   		<th>Description</th> <td><textarea style="width:400px;height:100px" name="description" class="text-box" tabindex="2">$!{issue.description}</textarea></td>
    	</tr>
   	 <tr>
   		<th>Publish on date</th> <td><input type="text" name="publishingDate" size="20" value="$!{issue.publishingDate}" tabindex="3"/></td>
   	</tr>

   	<tr>
   	  <td>&nbsp;</td>
      <td>
	     	<table>
      		<tr>
      			<td><input name="action" type="submit" value="Save"/></td>
      			#if($!{issue.issueId})
      			<td><input name="action" type="submit" value="Next"/></td>
      			#end
      			<td>	<a href="/user/dashboard">Cancel</a></td>
      		</tr>
      	</table>
	    </td>
   </tr>
</table>
</form>
<br/>
<br/>


</div>
