#parse("magazine/publisherMenu.vm")
<div style="width:100%;height:550px" >
<br/>

<table width="100%" style="margin-left:25%">
<!-- upload issue table -->
  <tr>
    <td>
		
		<table align="left" style="margin:14px">
		   	<tr>
		   		<th>Upload magazine issue images (select multiple)</th> 
		   	</tr>
		   	<tr>
		      <td>
		      <form id="uploadForm" method="post" action="${uploadIssueUrl}" enctype="multipart/form-data">
					<input type="hidden" name="magazineId" value="${magazineId}" size="20"/>
					<input type="hidden" name="issueId" value="${issueId}" size="20"/>
					      
		    	   <input type="file" name="fileToUpload" id="fileToUpload" multiple="multiple" size="5"/>
		    	   <input type="button" onclick="uploadFile();" value="Upload" />
		     </form>
			     	<a href="/"> Cancel</a>
			    </td>
		   </tr>
		</table>
   </td>
  </tr>
<!-- end upload issue table -->
 
<tr> <td>&nbsp;</td></tr>

<!-- display uploaded images -->

<tr> <td>
			<div  style="overflow:scroll;height:350px;width:500px">
			<table>
			   <tr>
			   		<th>Page</th>
			   		<th>Page No.</th>
			   		<th>Action</th>
			   </tr>
			#foreach($issuePage in $issuePages)
			   <tr>
			   	   <td width="200" align="center"><img src="/magazine/getBlob?blobKey=${issuePage.blobKey}" width="190" height="250"/></td> 
			       <td width="200" align="center"> <input type="text" name="pageNumber" value="${issuePage.pageNumber}" size="20" style="width:20px"/> </td>
			       <td> <input type="checkbox" name="issuePageId" value="${issuePage.issuePageId}"/></td>
			      
			   </tr>
			#end
			</table>
<!-- end display uploaded images -->			

   </td>
  </tr>
  
  <tr><td>
      <table>
      		   <tr>
			   		<td>
			   		  Front page number :<input type="text" name="frontPage" value="0" style="width:20px"/><br/>
			   		  <input type="button" name="save" value="Save"/> 
			   		  <input type="button" name="preview" value="Preview" onclick="javascript:preview()"/>
			   		</td>
			   </tr>
      </table>
   </td></tr>
   
</table>

<script type="text/javascript">

    function preview(){
		window.open('/magazine/preview/${issueId}','Issue Preview','height=600px,width=800px');
    }
    
    function uploadFile() {
        if (window.File && window.FileList) {
            var fd = new FormData();
            var files = document.getElementById('fileToUpload').files;
            for ( var i = 0; i < files.length; i++) {
                fd.append("file" + i, files[i]);
            }
            var xhr = new XMLHttpRequest();
            xhr.open("POST", document.getElementById('uploadForm').action);
            xhr.send(fd);

            alert('already saved');
            document.getElementById('uploadForm').value = '';

        } else {
            document.getElementById('uploadForm').submit(); //no html5
        }
    }

</script>