
<div class="wizard-steps">
	<div class="completed-step step">
		<div class="a-before"></div>
		<a href="/magazine/showAdd?magazineId=$!{issue.magazineId}"> <span>1</span>
			Title information
		</a>
		<div class="a-after"></div>
	</div>
	<div class="completed-step step">
		<div class="a-before"></div>
		<a
			href="/magazine/showAddIssue/$!{issue.magazineId}?issueId=$!{issue.issueId}">
			<span>2</span> Issue Information
		</a>
		<div class="a-after"></div>
	</div>
	<div class="completed-step step">
		<div class="a-before"></div>
		<a
			href="/magazine/showUploadIssue/$!{issue.magazineId}/$!{issue.issueId}">
			<span>3</span> Upload Files
		</a>
		<div class="a-after"></div>
	</div>
	<div class="active-step step">
		<div class="a-before"></div>
		<a href="#"> <span>4</span> Publish
		</a>
		<div class="a-after"></div>
	</div>
</div>
<form method="post" action="/magazine/saveUploadIssue">

	<div style="width: 100%; height: 550px">
		<br />

		<table width="100%" style="margin-left: 15%">
			<!-- upload issue table -->
			<tr>
				<td></td>
			</tr>
			<!-- end upload issue table -->

			<tr>
				<td>&nbsp;</td>
			</tr>

			<!-- display cover image -->

			<tr>
				<td><a class="preview" href="#"
					onclick="javascript:openPreview(${issueId})"> <img
						src="/magazine/getBlob?blobKey=${issuePage.blobKeyThumbnail}"
						width="100" height="150" />
				</a> <!-- end display cover image --></td>
			</tr>

			<tr>
				<td>
					<table>
						<tr>
							<td>Cover page number :$!{issue.coverPageNumber}<br />
							<br /> Preview page numbers :$!{issue.previewPages}

							</td>
						</tr>
						<tr>
							<td>
								<table>
									<tr>
										<td><input name="action" type="submit" value="Save" /></td>
										<td><input name="action" type="submit" value="Publish" /></td>
										<td><a href="/user/dashboard">Cancel</a></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>

		</table>
</form>

