<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="/static/js/booklet/jquery.booklet.latest.css" type="text/css" rel="stylesheet" />

</head>
<body >
#parse("common/message.vm")
	<div class="book_wrapper">
			<a id="next_page_button"></a>
			<a id="prev_page_button"></a>
			<div id="loading" class="loading">Loading pages...</div>
			<div id="mybook" style="display:none;">		
				<div class="b-load">
					   #foreach($issuePage in $issuePages)
					     <div><img src="/magazine/getBlob?blobKey=${issuePage.blobKey}" height="400px" width="600px"/> </div>
					     
					   #end
				</div>
			</div>
	</div>

<script type="text/javascript" src="/static/js/booklet/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/static/js/booklet/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="/static/js/booklet/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/booklet/jquery.booklet.latest.min.js"></script>
<script type="text/javascript" src="/static/js/preview.js"></script>


</body>
</html>
