<form method="post" action="/magazine/saveUploadIssue">
	<table>
		<tr>
			<td><input name="publish" type="submit" value="Publish" /></td>
			<td><a href="/user/dashboard">Cancel</a></td>
		</tr>
	</table>
</form>