<b>Confirmation of payment </b>

<fieldset>
#parse("common/message.vm")

<table width="100%" >

#foreach($purchase in ${purchases})
#set( $c =  ${purchase.currency})
  <tr style="height:40px; #if( $velocityCount % 2 == 1 )background:#E6E6E6 #end">
      <td>$velocityCount</td>
      <td width="50%">$purchase.issueName</td>
      <td>$purchase.subscriptionType</td>
       <td>${purchase.currency} ${purchase.price}</td>
     </tr>
 #end
 <tr>
	<td colspan="4">
		<hr/>
	</td>
 </tr>
 <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><b>Total</b></td>
	<td >
		 $c ${total}
	</td>
 </tr>
  <tr>
	<td colspan="4">
		<hr/>
	</td>
 </tr>
 </table>
 
 
</fieldset>


