	<p class="navLeft"></p>
	
	<!--body start -->		

		<!--left start -->
		<div id="body_top">
		</div>
		
		<div id="body_bottom">
			<div id="body_left">
				<br/>
				<p class="lftTxt">SuperMag is a London based IT company.  We specialise in providing IT solutions for small to medium sized businesses; focusing on open source and easily maintainable technologies like Java, PHP and MySQL.</p>
				<br/>
				<p class="lftTxt">We provide a full range of IT services ranging from <a href="it_systems.php">website development</a> and <a href="other_services.php">logo design</a> to <a href="other_services.php">network implementation</a> and <a href="it_systems.php">bespoke software development</a>.</p>
				<br/>
				<p class="lftTxt">Our objective is clear: "<em>o provide our clients with simple, reliable, cost-effective and easily maintainable IT solutions to implement their business model</em>".</p>
				<br/>
				<p class="lftTxt">Our team consists of highly skilled developers with many years of IT experience between them.  We are here to help; with advice at first then with cost-effective solutions.</p>
				<br>
				<p class="lftTxt"><strong>But most importantly, we will keep it simple :)</strong></p>
			</div>
  
			<br class="spacer" />
		</div>
		<!--left end -->

		<!--right start -->
		<!--right end -->

		<br class="spacer" />
